    <% @products.each_slice(4).with_index do |slice, index| -%>
      <% if index == (@products.size-1)/4 %>
        <div class="col-md-12" style="top:130px;">
          <div class="container r1 r2">
          <% slice.each do |product| -%>
                <div class="col-md-3 t8 t9i icmargin8">
                  <div class=" row u1">
                            <center>  <h5><%= product.name %></h5>
                            <h5><%= product.sku %></h5>
                            <%= link_to large_image(product, itemprop: "image", class: "shoeh"), product_path(product) %></center>
                            <div class="col-xs-12">
                            <h3>
                            <%= product.price %>$
                            </h3>
                          </div>
                          <div class="col-xs-6">
                            <h5><%= link_to 'Details' , product_path(product) %></h5>
                          </div>
                          <div class="col-xs-6">
                            <h5 class="pull-right">
                            <%= form_for :order, :url => populate_orders_url do |f| %>
                              <%= hidden_field_tag "variants[#{product.variants_including_master.first.id
                            }]", 1, :size => 3 %>
                              <%= hidden_field_tag "variant_id", product.variants_including_master.first.id %>
                              <%= hidden_field_tag "quantity", 1 %>
                              <%= link_to 'ADD TO BAG', '#', :onclick => "$(this).parent().submit(); return false;", :class => "button" %>
                            <% end %>
                                    
                            </h5>
                          </div>
                  </div>          
                 </div>
          <% end %>
        </div>
        </div>
      <% else %>
        <div class="col-md-12" style="top:130px;">
          <div class="container r1">
          <% slice.each do |product| -%>
                <div class="col-md-3 t8 t9i icmargin8">
                  <div class=" row u1">
                            <center>  <h5><%= product.name %></h5>
                            <h5><%= product.sku %></h5>
                            <%= link_to large_image(product, itemprop: "image", class: "shoeh"), product_path(product) %></center>
                            <div class="col-xs-12">
                            <h3>
                            <%= product.price %>$
                            </h3>
                          </div>
                          <div class="col-xs-6">
                            <h5><%= link_to 'Details' , product_path(product) %></h5>
                          </div>
                          <div class="col-xs-6">
                            <h5 class="pull-right">
                            <%= form_for :order, :url => populate_orders_url do |f| %>
                              <%= hidden_field_tag "variants[#{product.variants_including_master.first.id
                            }]", 1, :size => 3 %>
                              <%= hidden_field_tag "variant_id", product.variants_including_master.first.id %>
                              <%= hidden_field_tag "quantity", 1 %>
                              <%= link_to 'ADD TO BAG', '#', :onclick => "$(this).parent().submit(); return false;", :class => "button" %>
                            <% end %>
                                    
                            </h5>
                          </div>
                  </div>          
                 </div>
          <% end %>
        </div>
        </div>
      <% end %>
    <% end %>
             


