<a name="about"></a>
     <!-- Page Content -->
    <% @products.each do |product| %>
        	<div class="col-md-3 t8 t99 tag02 icmargin30">
                        <center>  <h5><%= product.name %></h5></center>
                        <center><h5><%= product.sku %></h5></center>
                        <%= link_to large_image(product, itemprop: "image", class: "shoeh"), product_path(product) %>
                        <h3 class="t11">
                        <%= product.price %>$
                        </h3><br>
                        <h5 class="sho1"><%= link_to 'Details' , product_path(product) %></h5>
                        <h5 class="t10 icmargin9">ADD TO BAG</h5>
             </div>
        <% end %>     