<a name="about"></a>
    
        <div class="col-md-12 tmagt tag1">
            <!--Start Container-->
        <div class="container t1 t92 icmargin220 icmargin12 icmargin13">
            <div class="col-md-2">
            <%= link_to product_image(@product), product_path(@product) %>
                <!-- /.container --></div>
            <div class="col-md-10 tmarg11">
            
             <h4  class="t4 tmarg1"><%= @product.name %></h4>
            <p class="t5 t51">
                <%= @product.description %>
                </p>
            <h1 class="t5 tagzcst icmargin15"><%= @product.price %>$</h1>
               
            </div>
            <%= render :partial => 'cart_form' %>
    </div>
           <!--End Container-->
        </div>
        
    
   
     <div class="col-md-12">
      <!--Start container-->
         <div class="container">
              <h4 class="similarh nn11 icmargin10"> Similar Recommendations </h4>
             <% @product.taxons.first.products.each do |product| %>
          <div class="col-md-4 t8 t9i icmargin8">
            <div class=" row u1">
                        <center>  <h5><%= product.name %></h5>
                        <h5><%= product.sku %></h5>
                        <%= link_to product_image(product), product_path(product) %></center>
                        <div class="col-xs-12">
                        <h3>
                        <%= product.price %>$
                        </h3>
                        </div>
                        <div class="col-xs-6">
                        <h5><%= link_to 'Details' , product_path(product) %></h5>
                        </div>
                        <div class="col-xs-6">
                        <h5 class="pull-right">
                        <%= form_for :order, :url => populate_orders_url do |f| %>
                          <%= hidden_field_tag "variants[#{product.variants_including_master.first.id
                        }]", 1, :size => 3 %>
                          <%= hidden_field_tag "variant_id", product.variants_including_master.first.id %>
                          <%= hidden_field_tag "quantity", 1 %>
                          <%= link_to 'ADD TO BAG', '#', :onclick => "$(this).parent().submit(); return false;", :class => "button" %>
                        <% end %>
                        </h5>
                        </div>
             </div>
            </div>
        <% end %>  
         </div>   
            
        <!--End container-->
    </div>
