<a name="about"></a>
    <div class=" introheight">
        <!--Start container-->
        <div class="container">

            <div class="row rfloat">
                <div class="col-lg-12">
                    <div class="intro-message">
                      <div class="col-md-12 talign1">

                        <% @body_id = 'signup' %>
                        <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
                        <h3 class="abt icmargin11"> Sign Up</h3>        
                          <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
                            <div data-hook="signup_inside_form">
                                  <input  class="x1 smarg icmargin1 " type="textbox" placeholder="User Name"><br>
                                  <%= f.email_field :email, :class => "x1 tmargin icmargin1", :placeholder => Spree.t(:email) %></br>
                                  <%= f.password_field :password, :class => "x1 tmargin icmargin1", :placeholder => Spree.t(:password) %></br>


                          <!--
                                  <%= f.password_field :password_confirmation, :class => "x1 tmargin icmargin1", :placeholder => Spree.t(:confirm_password) %></br> -->


                              <div data-hook="signup_below_password_fields"></div>              
                              <%= f.submit "Sign Up", :class => "btn smarg btn-default btn-lg btnonh submit dupsub subbtn vvt tmargin dupsub", :style => "color:#FFFFFF" %>
                            </div>
                          <% end %>
                          <!-- <div class="text-center">
                            <%= Spree.t(:or) %> 
                              <%= link_to Spree.t(:login_as_existing), spree.login_path %>
                          </div> -->
                          <div data-hook="login_extras"></div>

                      </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

